body{
    background-image: url(..//img/fondo\ imagen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
width: 100px;
margin-top: -50px;
}

#color{
    padding: 50px;
}

#iconomenu{
    font-size: 3rem;
}

#navegacion{
    margin: -50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#fondoimagen{
    width: 100%;
}

h2{
    margin-top: -40px;
    margin-left: 160px;
    margin-right: 450px;
    color:#6d4c41
}

@media (max-width:1300px){
    h2{
        display: none;
    }
}

.iconos{
    width: 50px;
    margin: 10px;
}

#barraiconos{
    position: fixed
}

@media (max-width:900px){
    #barraiconos{
        display: none;
    }
}

#galeria{
    width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#galeria2{
    width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#imgcentral{
    margin-top: 100px;
}



#miniavion{
    height: 150px;
    width: 700px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

h3{
    color: #6d4c41
}

h5{
    color: #6d4c41
}

.input-field{
color: #6d4c41
}

.btn{
    background-color: #6d4c41
}

.autor{
    width: 150px;
}

.contautor{
    margin-top: -677px;
}

@media(max-width:1000px){
    .contautor{
        display: none;
    }
}

@media(max-width: 990px){
    .contautor{
    display: inline;
    margin-top:0px;
    }
}